.left
{
  background-color:#F6CEF5;
  width: 30%;
  border:2px solid gray;
  border-radius:5px;
  text-align:center;
}
img{
  width:100%;
}
.right
{
  width:69%;
  border:2px solid gray;
  border-radius:5px;
  margin:1%;
  text-align: left;
  padding:1%;
  background-color:#e7b3ff;
}
.parent{
  display:flex;
  margin:1%;
  background-color:#660066;
}
table{
  width: 100%;
}
table th,td{
  border:1px solid black;
  border-collapse: collapse;
  font-size: 10px;
}
table tr:nth-child(even){
  background: lightgray;
}
